/*
* dqxi_styles.css
* by Andrea Hewko (radiantmemories451)
*
* Contains all of the css styling that applies to
* the DQXI skill simulator.
*/

/**************/
/*  Heading   */
/**************/
/*Contains the main content of the header*/
.header_main {
    display: grid;
  
    grid-template-areas:
        "character_levels_title character_levels_title game_progress_title game_progress_title"
        "character_levels_content character_levels_content character_levels_content character_levels_content game_progress_content game_progress_content"
        "character_levels_content character_levels_content character_levels_content character_levels_content game_progress_content game_progress_content";
  
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1.5fr 1fr 1fr;
}

.character_levels_title {
    grid-area: character_levels_title;
}

.character_levels_content {
    grid-area: character_levels_content;
}

.game_progress_title {
   grid-area: game_progress_title;
}

.game_progress_content {
    grid-area: game_progress_content;
}
