/*
* dqxi_styles.css
* by Andrea Hewko (radiantmemories451)
*
* Contains all of the css styling that applies to
* the DQXI skill simulator.
*/

/**************/
/*  Heading   */
/**************/
/*Contains the main content of the header*/
.header_main_grid {
    flex-grow: 1;
    flex-basis: 100%;
    display: inline-grid;
  
    grid-template-areas:
        "character_levels_title character_levels_title character_levels_title character_levels_title game_progress_title game_progress_title character_levels_title"
        "character_levels_Hero character_levels_Erik character_levels_Veronica character_levels_Serena game_progress_event1 game_progress_event2 game_progress_event3"
        "character_levels_Sylvando character_levels_Jade character_levels_Rab character_levels_Eight game_progress_event4 game_progress_event5 game_progress_event6";
  
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 0.5fr 0.5fr;
    border: 5px solid rgb(214,129,137);
    
    /* grid fallback (if grid not supported) */
    display: flex;
    flex-wrap: wrap;
}

.header_main_grid > * {
    border: 5px solid rgb(214,129,0);
}

.character_levels_title {
    grid-area: character_levels_title;
    grid-column: 1 / -1;
}

.character_levels_Hero {
    grid-area: character_levels_Hero;
}

.character_levels_Erik {
    grid-area: character_levels_Erik;
}

.character_levels_Veronica {
    grid-area: character_levels_Veronica;
}

.character_levels_Serena {
    grid-area: character_levels_Serena;
}

.game_progress_Sylvando {
   grid-area: game_progress_Sylvando;
}

.character_levels_Jade {
    grid-area: character_levels_Jade;
}

.character_levels_Rab {
    grid-area: character_levels_Rab;
}

.character_levels_Eight {
    grid-area: character_levels_Eight;
}

.game_progress_event1 {
    grid-area: game_progress_event1;
    grid-column: 1 / -1;
}

.game_progress_event2 {
    grid-area: game_progress_event2;
}

.game_progress_event3 {
    grid-area: game_progress_event3;
}

.game_progress_event4 {
    grid-area: game_progress_event4;
}

.game_progress_event5 {
    grid-area: game_progress_event5;
}

.game_progress_event6 {
    grid-area: game_progress_event6;
}
