/**************/
/*  Heading   */
/**************/


.flex_container header-main-column1 {
  display: flex;
  flex-direction: column;
  margin: 0px 15px 0px 15px;
  width: 50%;
  align-items: center;
}

.flex_container header-main-column2 {
  flex-direction: column;
  margin: 0px 15px 0px 15px;
  width: 50%;
  align-items: center;
}

.flex_container header-main-column1-title {
  display: flex;
  flex-direction: row;
  margin: 0px 15px 0px 15px;
  width: 100%;
}

.flex_container header-main-column1-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0px 15px 0px 15px;
}

.flex_container header-main-column1-content > div {
  display: flex;
  margin: 0px 15px 0px 15px;
  width: 20%;
}

.flex_container header-main-column2-title {
  display: flex;
  flex-direction: row;
  margin: 0px 15px 0px 15px;
}

.flex_container header-main-column2-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0px 15px 0px 15px;
}

.flex_container header-main-column2-content > div {
  display: flex;
  margin: 0px 15px 0px 15px;
  width: 20%;
}
